credit_card_transactions.csv
requirements.txt
sujet.pdf
env/
individual_data.csv
statecity_data.csv
iin_ranges.json

Arnaque à la copie de CB _ attention à cette escroquerie qui a touché de nombreux français.txt

La dangereuse dynamique des soldes des cartes de crédit aux États-Unis - La finance pour tous.txt